<?xml version="1.0" encoding="UTF-8"?>

<cofiguration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%-5level %msg %d{HH:mm:ss.SSS} %logger{36}%n</Pattern>
		</encoder>
	</appender>
	<loggre name="com.kadir" level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
	</loggre>
	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>

</cofiguration>